@page "/newgame"

@if (!game.Started)
{
    <h1>Nouvelle partie</h1>
    <div>
        <EditForm Model="@game" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <p>
                <label>Joueurs:</label>
                <InputNumber id="players" @bind-Value="game.Players" />
            </p>
            <p>
                <label>Villes:</label>
                <InputNumber id="cities" @bind-Value="game.Cities" />
            </p>
            <p>
                <label>Ravitaillements:</label>
                <InputNumber id="refuelings" @bind-Value="game.Refuelings" />
            </p>
            <p>
                <label>Aggravations:</label>
                <InputNumber id="aggravations" @bind-Value="game.Aggravations" />
            </p>
            <p>
                <label>Carte distribuées:</label>
                <InputNumber id="playercards" @bind-Value="game.PlayerCards" />
            </p>
            <p>
                <label>Total: @game.TotalCards</label>
            </p>
            <button type="submit">Démarrer</button>
        </EditForm>
    </div>
}
else
{
    <h1>Partie en cours</h1>
    <p>
        <label>Nombre de carte piochées: @GameModel.NumberOfDrawnedCard</label>
    </p>
    <div>
        <h2>Cartes joueurs</h2>
        <p>
            <label>Cartes restantes: @game.RemainingCards</label>
        </p>
        <ul>
            @foreach (var stack in game.Stacks)
            {
                <li>Pile #@stack.StackNumber @stack.RemainingCards / @stack.MaxCards @stack.ChanceToDrawAggravation() </li>
            }
        </ul>
        <button @onclick="@(e => DrawCard(PlayerCardType.City))">Ville</button>
        <button @onclick="@(e => DrawCard(PlayerCardType.Refueling))">Ravitaillement</button>
        <button @onclick="@(e => DrawCard(PlayerCardType.Aggravation))">Aggravation</button>
    </div>
}

@code {
    private GameModel game = new GameModel();

    private void HandleValidSubmit()
    {
        game.Start();
    }

    private void DrawCard(PlayerCardType type)
    {
        game.DrawCard(type);
    }
}